* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 100vh;
	background: #fafafa;
}

a.navbar-brand {
	img.brand-logo {
		width: 50px;
		height: 50px;
	}
}


/*
 * Custom translucent site header
 */

.site-header {
	background-color: rgba(0, 0, 0, .85);
	-webkit-backdrop-filter: saturate(180%) blur(20px);
	backdrop-filter: saturate(180%) blur(20px);
	nav {
		align-items: center;
	}
}

.site-header a {
	color: #8e8e8e;
	transition: color .15s ease-in-out;
	text-decoration: none;
}

.site-header a:hover {
	color: #fff;
	text-decoration: none;
}

// aboutus
.container {
	.section {
		.card {
			height: 150px;
			border-radius: 20px;
			box-shadow: 0 4px 8px 0 rgba(128, 128, 128, 0.2);
			.card-body {
				p {
					font-size: 13px;
					text-align: justify;
				}
			}
		}
	}
	.circles {
		margin-left: 200px;
		margin-right: 200px;
		.circle {
			box-shadow: -10px -25px 5px rgba(203, 131, 235, 0.6), 5px 10px 5px rgba(94, 238, 102, 0.8), 5px 10px 5px rgba(236, 138, 73, 0.6);
			-moz-box-shadow: 0px -10px 15px rgba(203, 131, 235, 0.6), 5px 10px 5px rgba(94, 238, 102, 0.6), 5px 10px 5px rgba(236, 138, 73, 0.6);
			-webkit-box-shadow: 0px -10px 5px rgba(203, 131, 235, 0.6), -10px 10px 5px rgba(94, 238, 102, 0.6), 5px 10px 5px rgba(236, 138, 73, 0.6);
			-o-box-shadow: 0px -10px 5px rgba(203, 131, 235, 0.6), 5px 10px 5px rgba(94, 238, 102, 0.6), 5px 10px 5px rgba(236, 138, 73, 0.6);
			height: 150px;
			width: 150px;
			border-radius: 50%;
			transform: rotate(60deg);
		}
		.inner {
			position: relative;
			top: 50%;
			text-align: center;
			line-height: 0px;
		}
	}
}

//development
.container {
	margin-top: 30px;
	.section {
		.card {
			width: 150px;
			height: 150px;
			.card-body {
				width: 150px;
				height: 150px;
				.brand-image {
					width: 100%;
					height: 100%;
				}
			}
		}
	}
	.rocket {
		position: relative;
		width: 200px;
		height: 50px;
		background: rgb(33, 147, 204);
		float: left;
		margin-left: 20px;
	}
	.rocket::before {
		content: "BPO";
		position: absolute;
		top: 0;
		left: 0px;
		width: 0px;
		height: 0px;
		border-top: 25px solid transparent;
		border-bottom: 25px solid transparent;
		border-left: 25px solid #fff;
		z-index: 1;
		// border-right: 25px solid transparent;
	}
	.rocket::after {
		content: "";
		position: absolute;
		top: 0;
		right: -25px;
		width: 0px;
		height: 0px;
		border-top: 25px solid transparent;
		border-bottom: 25px solid transparent;
		border-left: 25px solid rgb(33, 147, 204);
		z-index: 2;
	}
	.rocket1 {
		position: relative;
		width: 200px;
		height: 50px;
		background: rgb(92, 66, 179);
		float: left;
		margin-left: 20px;
	}
	.rocket1::before {
		content: "ITes";
		display: block;
		position: absolute;
		top: 0;
		left: 0px;
		width: 0px;
		height: 0px;
		border-top: 25px solid transparent;
		border-bottom: 25px solid transparent;
		border-left: 25px solid #fff;
		z-index: 1;
	}
	.rocket1::after {
		content: "";
		text-align: justify;
		display: block;
		position: absolute;
		top: 0;
		right: -25px;
		width: 0px;
		height: 0px;
		border-top: 25px solid transparent;
		border-bottom: 25px solid transparent;
		border-left: 25px solid rgb(92, 66, 179);
		z-index: 2;
	}
	.rocket2 {
		position: relative;
		width: 200px;
		height: 50px;
		background: rgb(136, 81, 149);
		float: left;
		margin-left: 20px;
	}
	.rocket2::before {
		content: "Development";
		display: block;
		position: absolute;
		top: 0;
		left: 0px;
		width: 0px;
		height: 0px;
		border-top: 25px solid transparent;
		border-bottom: 25px solid transparent;
		border-left: 25px solid #fff;
		z-index: 1;
	}
	.rocket2::after {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		right: -25px;
		width: 0px;
		height: 0px;
		border-top: 25px solid transparent;
		border-bottom: 25px solid transparent;
		border-left: 25px solid rgb(136, 81, 149);
		z-index: 2;
	}
	.rocket3 {
		position: relative;
		width: 200px;
		height: 50px;
		background: rgb(52, 109, 110);
		float: left;
		margin-left: 20px;
	}
	.rocket3::before {
		content: "KPO";
		display: block;
		position: absolute;
		top: 0;
		left: 0px;
		width: 0px;
		height: 0px;
		border-top: 25px solid transparent;
		border-bottom: 25px solid transparent;
		border-left: 25px solid #fff;
		z-index: 1;
	}
	.rocket3::after {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		right: -25px;
		width: 0px;
		height: 0px;
		border-top: 25px solid transparent;
		border-bottom: 25px solid transparent;
		border-left: 25px solid rgb(52, 109, 110);
		z-index: 2;
	}
	// .circles{
	//     // margin-left: 200px;
	//     // margin-right: 200px;
	//     .circle { 
	//          box-shadow: -10px -25px  5px  rgba(203, 131, 235, 0.6 ),5px 10px  5px  rgba(94, 238, 102, 0.8),5px 10px  5px  rgba(236, 138, 73, 0.6) ;
	//         -moz-box-shadow:0px -10px  15px rgba(203, 131, 235, 0.6),5px 10px  5px  rgba(94, 238, 102, 0.6), 5px 10px  5px  rgba(236, 138, 73, 0.6);
	//         -webkit-box-shadow:0px -10px  5px rgba(203, 131, 235, 0.6),-10px 10px  5px  rgba(94, 238, 102, 0.6),5px 10px  5px  rgba(236, 138, 73, 0.6);
	//         -o-box-shadow:0px -10px  5px rgba(203, 131, 235, 0.6),5px 10px  5px  rgba(94, 238, 102, 0.6),5px 10px  5px  rgba(236, 138, 73, 0.6);
	//         height: 150px; 
	//         width: 300px; 
	//     }
	//         .inner {
	//             position: relative;
	//             top: 50%;
	//             text-align: center;
	//             line-height: 0px;
	//         }
}

//services
.container {
	.circles {
		margin-left: 200px;
		margin-right: 200px;
		.circle {
			box-shadow: -10px -25px 5px rgba(203, 131, 235, 0.6), 5px 10px 5px rgba(94, 238, 102, 0.8), 5px 10px 5px rgba(236, 138, 73, 0.6);
			-moz-box-shadow: 0px -10px 15px rgba(203, 131, 235, 0.6), 5px 10px 5px rgba(94, 238, 102, 0.6), 5px 10px 5px rgba(236, 138, 73, 0.6);
			-webkit-box-shadow: 0px -10px 5px rgba(203, 131, 235, 0.6), -10px 10px 5px rgba(94, 238, 102, 0.6), 5px 10px 5px rgba(236, 138, 73, 0.6);
			-o-box-shadow: 0px -10px 5px rgba(203, 131, 235, 0.6), 5px 10px 5px rgba(94, 238, 102, 0.6), 5px 10px 5px rgba(236, 138, 73, 0.6);
			height: 150px;
			width: 150px;
			border-radius: 50%;
			transform: rotate(60deg);
		}
		.inner {
			position: relative;
			top: 50%;
			text-align: center;
			line-height: 0px;
		}
	}
}


//section_card
.section_card{
    border: 1px solid #dedede;
    border-radius: 5px;
    margin-bottom: 20px;
}

.image-div{
    display: grid;
    justify-content: center;
    text-align: center;
    align-items: center;
    img{
        width: 200px;
        height: 150px;
    }
}


.section_card1{
    border: 1px solid #dedede;
    border-radius: 25px;
    margin-bottom: 20px;
    .div{
        img{
            border-radius: 10%;
            width: fit-content;
        }
    }
}

